.clock_container{
    margin: auto;
    padding: 2vh;
    border-radius: 2vh;
    background-color: #EEEEEEc0;
    width: 70vh;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    text-align: right;
}
h1{
    font-size: 8vh;
    font-family: monospace;
}
h2{
    padding-left: 25vh;
    margin-top: -5vh;
    border-bottom: 1px solid black;
}